
         
           
      
           <div class="a1">
      
            <table class="table table-bordered">
           
             <thead class="a2">
               <tr>
                 <th>
                  
                   <div class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1">
                     <label class="custom-control-label" for="tableDefaultCheck1"></label>
                   </div>
                 </th>
                 <th>Plantilla</th>
                 <th># Lista de Chequeo</th>
               </tr>
             </thead>
           
             <tbody>
               <tr>
                 <th scope="row">
                   <div class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2" checked>
                     <label class="custom-control-label" for="tableDefaultCheck2"></label>
                   </div>
                 </th>
                 <td>Verificación de Recepción</td>
                 <td>35</td>
                 
               </tr>
               <tr>
                 <th scope="row">
                   <div class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3">
                     <label class="custom-control-label" for="tableDefaultCheck3"></label>
                   </div>
                 </th>
                 <td>Pruebas de Producto</td>
                 <td>123</td>
               </tr>
               <tr>
                 <th scope="row">
                   
                   <div class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input" id="tableDefaultCheck4">
                     <label class="custom-control-label" for="tableDefaultCheck4"></label>
                   </div>
                 </th>
                 <td>Revisión de Proceso de Producción</td>
                 <td>346</td>
               </tr>
             </tbody>
           
           </table> 
           
           
               </div>