.lista1 {
 
  background-color: aqua;
  
}
.lista2 {

  background-color: coral;
}

.a1 {

  border-right-style: outset ;
 border-width: 1px;
 
 
  height: 500px;
 
}
.link{

  text-align: center;
  align-content: center;
  color: black;
 

}
.link1{

  text-align: center;
  align-content: center;
  

}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.icono2 {
  width: 24px;
  height: 24px;
}
.icono3 {



 
}
.menu{

  float: right;
  margin-right: 7%;
}

.a2{
  margin-left:8%;
  
  margin-top: 8%;
}