
         
           
      
           <div class="a1">
      
              <table class="table table-bordered">
             
               <thead class="a2">
                 <tr>
                   <th>
                    
                     <div class="custom-control custom-checkbox">
                       <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1">
                       <label class="custom-control-label" for="tableDefaultCheck1"></label>
                     </div>
                   </th>
                   <th>#</th>
                   <th>Lista </th>
                   <th>autor</th>
                   <th>fecha </th>
                   <th>estado</th>
                   <th>accion </th>
                 </tr>
               </thead>
             
               <tbody>
                 <tr>
                   <th scope="row">
                     <div class="custom-control custom-checkbox">
                       <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2" checked>
                       <label class="custom-control-label" for="tableDefaultCheck2"></label>
                     </div>
                   </th>
                   <th>VR-023</th>
                   <th>Verificacion de recepcion ALFA T4R</th>
                   <th>juan mario</th>
                   <th>2017-07-21 </th>
                   <th>pendiente</th>
                   <th>editar  versionar </th>
                   
                 </tr>
                 <tr>
                   <th scope="row">
                     <div class="custom-control custom-checkbox">
                       <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3">
                       <label class="custom-control-label" for="tableDefaultCheck3"></label>
                     </div>
                   </th>
                   <th>PP-122</th>
                   <th>Pruebas  de producto EMP-438-879</th>
                   <th>LUISA MARIA</th>
                   <th>2017-07-19 </th>
                   <th>VALIDO</th>
                   <th>consulta </th>
                 </tr>
                 <tr>
                   <th scope="row">
                     
                     <div class="custom-control custom-checkbox">
                       <input type="checkbox" class="custom-control-input" id="tableDefaultCheck4">
                       <label class="custom-control-label" for="tableDefaultCheck4"></label>
                     </div>
                   </th>
                   <th>VR-023</th>
                   <th>Verificacion de recepcion ALFA T4R</th>
                   <th>juan mario</th>
                   <th>2017-07-21 </th>
                   <th>pendiente</th>
                   <th>consulta </th>
                 </tr>
               </tbody>
             
             </table> 
             
             
                 </div>

