<mat-tab-group>
     
    <mat-tab label="Atributos de chequeo" >

      <div class="example-large-box mat-elevation-z4"> 
            <br>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="plantilla" value=" ">
                </mat-form-field>
                  <br>
  
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre de la lista" value=" ">
                  </mat-form-field>
  
                  <br>
  
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="observaciones" value=" ">
                    </mat-form-field>
  
                    <br>
  
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="referencias" value=" ">
                      </mat-form-field>
  
              </form>
  
              <mat-divider class="margen" style="height: 5px;" ></mat-divider>
  
              <button type="button" class="btn btn-danger">Cancelar</button>
              <button type="button" class="btn btn-warning">Siguiente</button>

      </div>

    </mat-tab>
    <mat-tab label="valoracion">
      <div class="example-large-box mat-elevation-z4">
        <br>
    
        <div class="example-large-box mat-elevation-z4"> 
            <br>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="  el tamaño del producto  es mayor a 9.5 cm? " value=" ">
                </mat-form-field>
                  <br>
  
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="el tamaño del producto  es menor a 10.5 cm?" value=" ">
                  </mat-form-field>
  
                  <br>
  
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="el color aparente es correcto" value=" ">
                    </mat-form-field>
  
                    <br>
  
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="la solicitud fue atendida oportunamente?" value=" ">
                      </mat-form-field>
  
              </form>
  
              <mat-divider class="margen" style="height: 5px;" ></mat-divider>
  
              <button type="button" class="btn btn-danger">Cancelar</button>
              <button type="button" class="btn btn-warning">Siguiente</button>

      </div>


      </div>
    </mat-tab>
  </mat-tab-group>