<mat-tab-group>
     
        <mat-tab label="Atributos de Plantilla" >
    
          <div class="example-large-box mat-elevation-z4"> 
                <br>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Raiz de Consecutivo" value=" ">
                    </mat-form-field>
                      <br>
      
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre Plantilla" value=" ">
                      </mat-form-field>
      
                      <br>
      
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Descripcion de Plantilla" value=" ">
                        </mat-form-field>
      
                        <br>
      
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Umbral de valoración minimo requerido (%)" value=" ">
                          </mat-form-field>
      
                  </form>
      
                  <mat-divider class="margen" style="height: 5px;" ></mat-divider>
      
                  <button type="button" class="btn btn-danger">Cancelar</button>
                  <button type="button" class="btn btn-warning">Siguiente</button>
    
          </div>
    
        </mat-tab>
        <mat-tab label="Criterios de Valoracion">
          <div class="example-large-box mat-elevation-z4">
            <h5>Lista de Criterios</h5>
            <br>
            <table class="table table-bordered">
           
                    <thead class="a2">
                      <tr>
                        <th>
                         
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1">
                            <label class="custom-control-label" for="tableDefaultCheck1"></label>
                          </div>
                        </th>
                        <th>criterio</th>
                        <th>tipo de criterio</th>
                        <th>ponderacion</th>
                      </tr>
                    </thead>
                  
                    <tbody>
                      <tr>
                        <th scope="row">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2" checked>
                            <label class="custom-control-label" for="tableDefaultCheck2"></label>
                          </div>
                        </th>
                        <td>ell tamaño del producto es mayot de  9.5 cm?</td>
                        <td>calidad</td>
                        <td>20%</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3">
                            <label class="custom-control-label" for="tableDefaultCheck3"></label>
                          </div>
                        </th>
                        <td>ell tamaño del producto es mayot de  10.5 cm?</td>
                        <td>calidad</td>
                        <td>20%</td>
                      </tr>
                      <tr>
                        <th scope="row">
                          
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck4">
                            <label class="custom-control-label" for="tableDefaultCheck4"></label>
                          </div>
                        </th>
                        <td>eel color del empaque es correcto?</td>
                        <td>calidad</td>
                        <td>10%</td>
                      </tr>
                      <tr>
                            <th scope="row">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3">
                                <label class="custom-control-label" for="tableDefaultCheck3"></label>
                              </div>
                            </th>
                            <td>la solicitud fue atendida oportunamente?</td>
                            <td>servicio</td>
                            <td>50%</td>
                          </tr>
                    </tbody>
                  
                  </table> 
    
          </div>
        </mat-tab>
      </mat-tab-group>